-e git://github.com/django-extensions/django-extensions.git#egg=django-extensions
-e svn+http://keyczar.googlecode.com/svn/trunk/python#egg=keyczar
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
