{% extends "base.html" %}
{% block logout %}{% endblock %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="box_form" id="login_div">
<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<p>
    {{ form.username.label_tag }}
    {{ form.username }}
</p>
<p>
    {{ form.password.label_tag }}
    {{ form.password }}
</p>
<p>
<a href="{% url django.contrib.auth.views.password_reset %}">reset password</a>
</p>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}
