{% for field in new_application_form %}
<p>
    {{ field.label_tag }} {{ field }} 
    {% if field.errors %}
        <span class="errors">
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
        </span>
    {% endif %}
    {% if forloop.first %}
        <span class="loading" id="new_application_{{ project.id }}_loading"> &nbsp; </span>
        <input type="submit" value="add application" class="add" />
    {% if created %}
        <span id="application_{{ application.id }}_created" class="saved">Created</span>
        <script type="text/javascript">
            // <![CDATA[
            $('#application_{{ application.id }}_created').fadeIn('fast');
			$.get("{% url application_view application.id %}",function(data){
				$("#project_{{ application.project.id  }}_applications_list").append("<li>"+data+"</li>");
                $('html,body').animate({ scrollTop: $('#id_app_{{ application.id  }}_-name').focus().offset().top}, 1000);
			});
            setTimeout("$('#application_{{ application.id }}_created').fadeOut(2000);",1000);
            // ]]>
        </script>
    {% endif %}
    {% endif %}
</p>
{% endfor %}
