<p>
{{ new_model_field_form.name.label_tag }}
{{ new_model_field_form.name }} 
{{ new_model_field_form.type }}

{% if new_model_field_form.name.errors %}
    <span class="errors">
    {% for error in new_model_field_form.name.errors %}
    {{ error }}
    {% endfor %}
    </span>
{% endif %}

    <span class="loading" id="new_field_{{ application.id }}_loading"> &nbsp; </span>
    <input type="submit" value="+ add field" />
{% if created %}
    <span id="model_{{ model.id }}_created" class="saved">Created</span>
    <script type="text/javascript">
        $('#model_{{ model.id }}_created').fadeIn('fast');
        $.get("{% url model_view model.id %}",function(data){
            $("#application_{{ model.application.id  }}_models_list").append("<li>"+data+"</li>");
        });
        setTimeout("$('#model_{{ model.id }}_created').fadeOut(2000);",1000);
    </script>
{% endif %}

