body{
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size:.8em;
}

form textarea{
    height: 3em;
}

form p{
    display: block;
    clear: both;
    margin: 3px;
}

form label{
    float: left;
    width: 12em; 
    padding: 2px;
    color: #555;
    font-weight: bold;
}

form input:focus, form textarea:focus, form select:focus {
    background-color: #FFFFCC;
}

form input, form textarea, form select{
    border: 1px solid gray;
    padding: 2px;
}

li{
    list-style-type: none;
}

.new_form{
    border: 1px solid #336446;
    background-color: #64AF81;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: block;
}

.new_form label{
    color: #eee;
}

.new_model{
    float: right;
}

.new_model_field{
    position: absolute;
    right: 25px;
    margin-top: 40px;
}

.new_application{
    float: right;
}

.field{
    border: 1px solid lightgray;
    background-color: #eee;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 10px;
    margin: 5px;
    padding: 5px;
}

.newfield{
    background: #eeeeb7;
    border: 2px dashed #333333
}

.model{
    border: 1px solid #ADC8E1;
    background-color: #D1E0EF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.application{
    border: 1px solid lightgray;
    background-color: #eee;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 10px;
    margin: 5px;
    padding: 5px;
}

form input[type=submit], form input[type=button]{
    float: right;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left: 5px;
}

form input.delete{
    background-color: #ECC6C6;
    border-color: #C65353;
}

form span.saved{
    color: green;
    font-weight: bold;
    margin-left: 5px;
    display: none;
}

form span.errors{
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

form span.loading{
    background: url("../img/ajax_loader.gif") no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 3px;
    display: none;
}

.field_type{
    position:absolute;
    color: #fff;
    font-size: 3em;
    right:0px;
    margin-top:25px;
    padding-right:50px;
}

#generate:hover{
    background-color: gray;
}

#generate{
    position: absolute;
    padding: 5px 10px;
    background-color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    right: 10px;
    top: 10px;
}

#generate a{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

#logo-text{
    top: 30px;
}
#logo-text a{
    font-size: 2em;
    color: black;
    text-decoration: none;
}

#logo-text a span{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color:#336446;
    font-family:'Trebuchet MS',sans-serif;
    color:white;
    padding:10px;
}

#logout {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px 6px;
    width: 100px;
    text-align: center;
}

#logout a {
    font-size: 1.3em;
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.box_form {
    width: 400px;
    border: 1px solid #eee;
    background-color: #eee;
    margin: 60px auto;
    padding: 10px 10px 40px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.box_form input[type=submit] {
    margin-top: 5px;
    border-color: #336446;
    background-color:#336446;
    color: white;
    font-weight: bold;
    padding: 4px  8px;
}

ul.errorlist {
    color: red;
    font-weight: bold;
}
