body{
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size:.8em;
    color: #555;
}

form textarea{
    height: 3em;
}

form p{
    display: block;
    clear: both;
    margin: 3px;
}

form label{
    float: left;
    width: 12em; 
    padding: 2px;
    color: #555;
    font-weight: bold;
}

img {
    border: 0px
}

h2 {
    text-align: center;
    font-size: 3em;
}

form input:focus, form textarea:focus, form select:focus {
    background-color: #FFFFCC;
}

form input, form textarea, form select{
    border: 1px solid gray;
    padding: 2px;
}

li{
    list-style-type: none;
}

#content{
  position: relative;
}

.new_form{
    background-color: #F8FFF0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: block;
    border: 1px solid #A0DC11

}

.new_form label{
    color: #777;
    width: auto;
    margin-right: 3px;
}

.new_form form input[type=submit]{
    float: none;
}

.new_model{
    float: right;
}

.new_model_form{
    position: absolute;
    right: 25px;
    margin-top: 90px;
}

.new_model_field{
    position: absolute;
    right: 25px;
    margin-top: 40px;
}

.new_application{
    position: absolute;
    right: 5px;
    top: 130px;
}

.model_forms li div.model_form{
    border: 1px solid lightgray;
    background-color: #ded;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 10px;
    margin: 5px;
    padding: 5px;
}

.field{
    position: relative;
    border: 1px solid lightgray;
    background-color: #eee;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.python_field{
  display:none;
}


.field_toggle{
  color: #555;
  padding: 0px 5px 2px;
  position: absolute;
  left: -27px;
  top: 2px;
  cursor: pointer;
  border: 1px dashed #333;
  font-weight: bold;
}

.field_type{
    position:absolute;
    color: #999;
    font-size: 2em;
    right:0px;
    margin-top:30px;
    right: 50px;
}

.newfield{
    background: #eeeeb7;
    border: 2px dashed #333333
}

.model{
    border: 1px solid #ADC8E1;
    background-color: #D1E0EF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 10px 5px 5px 5px;
    padding: 5px;
}

.project_form{
    border: 1px solid #ADC8E1;
    background-color: #D1E0EF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 5px 5px 5px 25px;
    padding: 5px;
}
.application{
    border: 1px solid lightgray;
    background-color: #eee;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 10px;
    margin: 5px;
    padding: 5px;
}

form input[type=submit], form input[type=button]{
    float: right;
    -moz-border-radius: 9px 3px 3px 9px;
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 9px;
    margin-left: 5px;
    background: #eee url(../img/icons/accept.png) 2px center no-repeat;
    padding: 3px 5px 3px 20px;
}

form input.add{
    border-color: gray;
    padding: 3px 5px 3px 22px;
    background: url(../img/icons/add.png) no-repeat 3px center #eeeeee;
}

form input.save{
    border-color: gray;
    padding: 3px 5px 3px 22px;
    background: url(../img/icons/database_save.png) no-repeat 4px center #eeeeee;
}

form input.delete{
    border-color: #C65353;
    padding: 3px 5px 3px 22px;
    background: url(../img/icons/delete.png) no-repeat 3px center #ECC6C6;
}

form span.saved{
    color: green;
    font-weight: bold;
    margin-left: 5px;
    display: none;
}

form span.errors{
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

form span.loading{
    background: url("../img/ajax_loader.gif") no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 3px;
    display: none;
}

#generate:hover{
    background-color: gray;
}

#generate{
    position: absolute;
    padding: 5px 10px;
    background-color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    right: 10px;
    top: 10px;
}

#generate a{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

#logo-text{
    top: 30px;
}
#logo-text a{
    font-size: 2em;
    color: black;
    text-decoration: none;
}

#logo-text a span{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color:#336446;
    font-family:'Trebuchet MS',sans-serif;
    color:white;
    padding:10px;
}

#logout {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px 6px;
    width: 100px;
    text-align: center;
}

#logout a {
    font-size: 1.3em;
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.box_form {
    width: 400px;
    border: 1px solid #D1E0EF;
    background-color: #D1E0EF;
    margin: 60px auto;
    padding: 10px 10px 40px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.box_form input[type=submit] {
    margin-top: 5px;
    border-color: #336446;
}

ul.errorlist {
    color: red;
    font-weight: bold;
}

.project_list {
    margin-top: 40px;
}

.project_list li{
   margin: 3px;
   font-size: 1.2em;
}

.project_list a{
    text-decoration: none;
    color: #555;
}

.project_list a:hover {
    color: #028E9F;
}

span.help{
    padding: 1px 3px;
    margin-left: 3px;
    background-color: green;
    pointer: cursor;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#expand_all,
#collapse_all{
    position: absolute;
    border: 1px solid gray;
    padding: 3px 5px;
    background-color: #eeeeee;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 190px;
    right: 10px;
}
#expand_all{
    display: none;
}

#footer{
  border-radius: 5px;
  background: #555;
  margin: 30px 5px 0;
  color: #eee;
  padding: 10px;
  font-family: arial;
  font-size: 1.2em;
}
#footer a{
  font-weight: bold;
  color: white;
}
