{% load model_tags %}
{% load field_tags %}
<div class="model" id="model_{{ model.id }}">

    <div id="new_model_field_{{ model.id }}" class="new_model_field">
    <form id="new_model_field_{{ model.id }}_form" action="" method="post">
    	{% new_model_field_form model %}
	</form>
    </div>

    <div class="model_form">
    <form id="model_{{ model.id }}_form" action="{% url model_form model.id %}" method="post">
    {% model_form model %}
    </form>
    <div id="model_{{ model.id }}_models">
        <ul class="models">
        {% for model in model.fields.all %}
            <li>
            {{ field
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="model_{{ model.id }}_fields">
        <ul class="fields" id="model_{{ model.id }}_fields_list">
        {% for field in models.fields.all %}
            <li>
                {{ model_fields.object }}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<script type="text/javascript">
    $("#new_model_field_{{ model.id }}").submit(function(){
        var field_type = $("#id_new_field_{{ model.id }}-type").val();
        $.get("/field/add/" + field_type + "/{{ model.id }}/", function(data){
            $("#new_field_{{ model.id }}").remove();
            $("#model_{{ model.id }}_fields_list").append("<li>" + data + "</li>");
        });
        return false;
    });
    $("#model_{{ model.id }}_form").submit(function(){
        $("#model_{{ model.id }}_loading").css({display:"inline-block"});
        $(this).ajaxSubmit({target: '#model_{{ model.id }}_form'});
        return false;
    });
</script>

