{% load project_tags %}{% tag load i18n %}{% tag autoescape off %}
{% tag trans "You're receiving this e-mail because you requested a password reset" %}
{% tag blocktrans %}for your user account at {% var site_name %}{% tag endblocktrans %}.

{% tag trans "Please go to the following page and choose a new password:" %}
{% tag block reset_link %}
{% var protocol %}://{% var domain %}{% tag url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% tag endblock reset_link %}
{% tag trans "Your username, in case you've forgotten:" %} {% var user.username %}

{% tag trans "Thanks for using our site!" %}

{% tag blocktrans %}The {% var site_name %} team{% tag endblocktrans %}

{% tag endautoescape %}
