{% load project_tags %}{% tag extends "base.html" %}
{% tag load i18n %}
{% tag block logout %}{% tag endblock %}

{% tag block title %}{% tag trans "Password reset" %}{% tag endblock %}

{% tag block content %}

<h1>{% tag trans "Password reset" %}</h1>

<p>{% tag trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post">{% tag csrf_token %}
{% var form.as_p %}
<p>
<input type="submit" value="{% tag trans 'Reset my password' %}" />
</p>
</form>

{% tag endblock %}
