{% load project_tags %}{% tag extends "base.html" %}
{% tag load i18n %}
{% tag block logout %}{% tag endblock %}
{% tag block title %}{% tag trans 'Password change' %}{% tag endblock %}

{% tag block content %}

<form action="" method="post">{% tag csrf_token %}
<div>
{% tag if form.errors %}
    <p class="errornote">
    {% tag blocktrans count form.errors.items|length as counter %}Please correct the error below.{% tag plural %}Please correct the errors below.{% tag endblocktrans %}
    </p>
{% tag endif %}

<h1>{% tag trans 'Password change' %}</h1>

<p>{% tag trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

{% var form.as_p %}
<input type="submit" value="{% tag trans 'Change my password' %}" class="default" />

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form>

{% tag endblock %}
