{% load project_tags %}{% tag block logout %}{% tag endblock %}
{% tag extends "base.html" %}
{% tag load i18n %}

{% tag block title %}{% tag trans 'Password reset' %}{% tag endblock %}

{% tag block content %}

{% tag if validlink %}

<h1>{% tag trans 'Enter new password' %}</h1>

<p>{% tag trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% tag csrf_token %}
{% var form.as_p %}
<p><input type="submit" value="{% tag trans 'Change my password' %}" /></p>
</form>

{% tag else %}

<h1>{% tag trans 'Password reset unsuccessful' %}</h1>

<p>{% tag trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% tag endif %}

{% tag endblock %}
