{% load project_tags %}{% tag extends "base.html" %}
{% tag load i18n %}
{% tag block logout %}{% tag endblock %}

{% tag block title %}{% tag trans 'Password change successful' %}{% tag endblock title %}

{% tag block content %}

<h1>{% tag trans 'Password change successful' %}</h1>

<p>{% tag trans 'Your password was changed.' %}</p>

<p>{% tag trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{% tag login_url %}">{% tag trans 'Log in' %}</a></p>
{% tag endblock content %}
