{% extends "base.html" %}

{% block content %}
    <div class="navigation clear">
    {% if projects.has_next %}
        <div><a href="?{{url_parameters}}&page={{ projects.next_page_number }}" >&laquo; Older Entries </a></div>												
    {% endif %}
    {% if projects.has_previous %}
        <div><a href="?{{url_parameters}}&page={{ projects.previous_page_number }}" >Newer Entries &raquo;</a></div>
    {% endif %}
    </div>

    <ul class="project_list">
    {% for project in projects.object_list %}
        <li>
            <a href="{% url project_del project.id %}" class="delete_project" onclick="return false;">
                <img src="{{STATIC_URL}}img/icons/delete.png" width="16" height="16">
            </a>
            <a href="{{ project.get_absolute_url }}">
                {{ project.name }}  created on {{ project.modification_date|date:"l, jS F, Y" }} - {{ project.applications.count }} applications (click to view)
            </a>
        </li>
    {% endfor %}
    </ul>

    <div class="box_form">
    <form action="" method="post">
        <p>
        Please enter the name of the django project you want to generate
        </p>
        {{ new_project_form.as_p }}
        <p>
            <input type="submit" value="create project" class="add"/>
        </p>
    </form>
    </div>
<script type="text/javascript">
    // <![CDATA[
    $('.delete_project').click(function(){
        var del_object = confirm('Are you sure you want to delete this project ?'); 
        var link = $(this);
        if ( del_object == true ){
            var del_url = $(this).attr('href');
            $.post(del_url, function(data){ 
                link.parent('li').slideToggle();
            });
        }
        return false;
    });
    // ]]>
</script>
{% endblock content %}

